@import '../base/variables';

#header {
  background-image: url($mobile-bg);
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 1px;

  @media only screen and (min-width: $desktop-size) {
    background-image: url($desktop-bg);
    height: 97vh;
    justify-content: start;
    padding-right: 75px;
    padding-left: 140px;
    padding-top: 80px;
    margin-top: 50px;
  }
}

.blockquote {
  color: $orange;
  margin-bottom: 20px;
  padding-top: 0;
  text-align: left;
  margin-left: 0;
  margin-right: 5px;
  /*justify-self: baseline;*/
  font-size: 20px;

  @media only screen and (min-width: $desktop-size) {
    margin-top: 0;
    padding-top: 0;
    font-size: 40px;
  }
}

.header-class {
  font-family: $header-font;
  font-size: 2em;
  background: #ff4500;
  background: linear-gradient(to right, hsl(21, 100%, 50%, 1) 50%, rgba(248, 1, 1, 1) 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  margin-top: -20px;

  @media only screen and (min-width: $desktop-size) {
    margin-bottom: 0;
    margin-left: 0;
    text-align: left;
    font-size: 3em;
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  span {
    background-image: url($header-bg);
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 1em;
    font-weight: bolder;

    @media only screen and (min-width: $desktop-size) {
      font-size: 80px;
    }
  }

  @media only screen and (min-width: $desktop-size) {
    font-size: 80px;
  }
}

.hdcl-about {
  text-align: center; 
}

.introduction {
  text-align: justify;
  background-color: $gray;
  filter: brightness(120%);
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  border: 5px solid rgb(187, 187, 187,0.2);

  p {
    width: 80%;
  }

  @media only screen and (min-width: $desktop-size) {
    font-size: 20px;
    width: 60%;
    text-align: left;
  }

  p {
    width: 100%;
  }
}

.place {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  filter: brightness(115%);
  padding: 0 1px 1px 0;
  justify-content: center;
  align-content: center;
  text-align: left;
  width: 100%;
  font-size: 20px

  p {
    width: 100%;
  }

  @media only screen and (min-width: $desktop-size) {
    font-size: 30px;
    margin: 0;
    width: 60%;
  }

  .date {
    font-weight: 900;
    margin-bottom: 7px;
    font-size: 20px;
    margin-block-start: 1px;
  }

  .salon {
    margin: 0;
    font-size: 16px;
  }
}
